<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= f.hidden_field :owner %>
  <%= f.hidden_field :repository %>
  <%= f.hidden_field :number %>
  <%= f.hidden_field :state %>
  <%= f.hidden_field :assignee %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
