<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Github owner:</strong>
  <%= @issue.owner %>
</p>

<p>
  <strong>Github repository:</strong>
  <%= @issue.repository %>
</p>

<p>
  <strong>Github:</strong>
  <%= @issue.number %>
</p>

<p>
  <strong>State:</strong>
  <%= @issue.state %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
