<% content_for :header_nav do %>
  <%= render "buckets/navbar" %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <p>#### Ship List for <%= @ship_list %></p>
    <p>
      <% @ship_list.issues.each do |issue| %>* ([<%= github_issue_nwo_id(issue) %>](<%= github_issue_url(issue) %>)) <%= issue.title %><br /><% end %>
    </p>
  </div>
</div>
