<div class="col-lg-<%= @columns %> col-md-<%= @columns %> col-xs-12 bucket" data-bucket-path="<%= team_bucket_path(@team, bucket) %>">
  <div class="bucket-header js-bucket-handle">
    <h3><%= link_to bucket.name, edit_team_bucket_path(@team, bucket) %></h3>
  </div>

  <ul class="bucket-list js-bucket-list" data-bucket-id="<%= bucket.id %>">
    <%= render :partial => "issue", :collection => PrioritizedIssue.bucket(bucket) %>
  </ul>
</div>
