<li class="ui-state-default panel panel-default issue collapsed" data-prioritized-issue-path="<%= team_bucket_prioritized_issue_path(issue.bucket.team, issue.bucket, issue) %>" data-move-to-bucket-path="<%= team_bucket_prioritized_issue_move_path(issue.bucket.team, issue.bucket, issue) %>" data-issue-sync-path="<%= team_bucket_prioritized_issue_sync_path(issue.bucket.team, issue.bucket, issue) %>">
  <div class="panel-heading">
    <div class="issue-data">
      <%= form_for [issue.bucket.team, issue.bucket, issue], :html => {:class => "issue-state-toggle"} do |f| %>
        <%= f.check_box :state, {:checked => issue.closed?, :class => "js-issue-state-toggle"}, "closed", "open" %>
      <% end %>
      <%= link_to issue.title, github_issue_url(issue), :class => "issue-link" %>
      <%= link_to "<span class='glyphicon glyphicon-refresh'></span>".html_safe, "#", :class => "issue-sync js-issue-sync" %>

      <% if issue.assignee %>
        <%= link_to "@#{issue.assignee}", "#", :class => "issue-assignee js-issue-assignee-link" %>
      <% else %>
        <%= link_to "claim or assign", "#", :class => "issue-assignee js-issue-assignee-link" %>
      <% end %>
      <%= form_for [issue.bucket.team, issue.bucket, issue], :html => {:class => "issue-assignee-form"} do |f| %>
        <%= f.select :assignee, @assignees, {:include_blank => true}, :class => "js-issue-assignee-select" %>
      <% end %>
      <% issue.labels.each do |label| %>
        <span class="issue-label"><%= label %></span>
      <% end %>
    </div>
    <%= form_for [issue.bucket.team, issue.bucket, issue], :method => "delete", :html => {:class => "issue-destroy-form"} do |f| %>
      <%= f.button octicon("x"), :class => "button danger", :data => { :confirm => "Are you sure you want to remove this issue?" } %>
    <% end %>
  </div>
</li>
