<li class="ui-state-default issue collapsed" data-prioritized-issue-path="<%= prioritized_issue_move_to_bucket_path(issue) %>">
  <%= form_tag "/", :class => "issue-state-toggle" do %>
    <%= check_box_tag :state, issue.closed?, issue.closed? %>
  <% end %>
  <%= link_to issue.title, github_issue_url(issue), :class => "issue-link" %>
  <div class="issue-details">
    <%= link_to "#{issue.owner} / #{issue.repository}", github_repository_url(issue), :class => "issue-repository-label" %>
    <%= link_to "@#{issue.assignee}", github_user_url(issue), :class => "issue-assignee" if issue.assignee %>
    <% issue.labels.each do |label| %>
      <span class="issue-label"><%= label %></span>
    <% end %>
  </div>
  <%= link_to image_tag("/assets/expand.png"), "#", :class => "issue-expand issue-toggle js-issue-toggle" %>
  <%= link_to image_tag("/assets/collapse.png"), "#", :class => "issue-collapse issue-toggle js-issue-toggle" %>
</li>
