<li class="<%= navbar_link_class(:buckets, [:new, :edit, :index]) %>"><%= link_to "Buckets", team_path(@team) %></li>
<li class="<%= navbar_link_class(:ship_lists, [:index, :show]) %>"><%= link_to "Ship Lists", team_ship_lists_path(@team) %></li>
<li class="<%= navbar_link_class(:radars, [:show]) %>"><%= link_to "My Radar", team_radar_path(:team_id => @team, :id => current_user.login) %></li>
<li class="<%= navbar_link_class(:audit_entries, [:index]) %>"><%= link_to "Audit Log", team_audit_log_path(@team) %></li>
