<div class="row">
  <% @buckets.each do |bucket| %>
    <div class="col-lg-<%= @columns %> col-md-<%= @columns %> col-xs-12 bucket">
      <h3 class="header"><%= bucket.name %></h3>

      <ul>
        <% bucket.issues.each do |issue| %>
          <li><%= issue.title %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <%= link_to 'New Bucket', new_bucket_path %>
</div>
