<div class="row">
  <% @buckets.each do |bucket| %>
    <div class="col-lg-<%= @columns %> col-md-<%= @columns %> col-xs-12 bucket">
      <div class="bucket-header">
        <h3><%= bucket.name %></h3>
      </div>

      <ul class="bucket-list js-bucket-list" data-bucket-id="<%= bucket.id %>">
        <%= render :partial => "issue", :collection => PrioritizedIssue.bucket(bucket) %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row-fluid">
  <%= link_to 'New Bucket', new_bucket_path %>
</div>
