<% content_for :header_nav do %>
  <%= render "navbar" %>
<% end %>
<div class="row js-buckets">
  <%= render :partial => "bucket", :collection => @buckets %>
</div>
<% content_for :footer_nav do %>
  <ul class="nav navbar-nav">
    <% if @team_finder.user_write_permission? %>
      <li><%= link_to "New Bucket", new_team_buckets_path(@team) %></li>
      <% if @team.buckets.any? %>
        <li>
          <%= form_tag team_bucket_prioritized_issues_path(@team, @team.buckets.last), :class => "issue-import-form navbar-form navbar-left" do %>
            <%= text_field_tag :url, "", :placeholder => "https://github.com/jonmagic/i-got-issues/issues/1", :class => "issue-url form-control js-issue-import-url" %>
            <%= submit_tag "Import Issue", :class => "btn btn-default" %>
          <% end %>
        </li>
      <% end %>
      <li><%= link_to "Archive closed issues", team_archive_closed_issues_path(@team), :class => "js-issues-archive" %></li>
      <li><%= link_to "Set this as your default team", set_team_path(:team_id => @team.id) %></li>
    <% end %>
  </ul>
<% end %>
