<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bucket.name %>
</p>

<p>
  <strong>Row order:</strong>
  <%= @bucket.row_order %>
</p>

<%= link_to 'Edit', edit_bucket_path(@bucket) %> |
<%= link_to 'Back', buckets_path %>
