<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head" %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="<%= navbar_link_class(:teams, :index) %>"><%= link_to "Teams", teams_path %></li>
          <% if @team.present? %>
            <li class="<%= navbar_link_class(:buckets, :index) %>"><%= link_to "Buckets", team_path(@team) %></li>
            <li class="<%= navbar_link_class(:buckets, :new) %>"><%= link_to "New Bucket", new_team_bucket_path(@team) %></li>
            <% if @team && @team.buckets.any? %>
              <li>
                <%= form_tag team_bucket_prioritized_issues_path(@team, @team.buckets.last), :class => "issue-import-form navbar-form navbar-left" do %>
                  <%= text_field_tag :url, "", :placeholder => "https://github.com/jonmagic/i-got-issues/issues/1", :class => "issue-url form-control js-issue-import-url" %>
                  <%= submit_tag "Import Issue", :class => "btn btn-default" %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <li>
            <%= link_to "Chrome Extension", "https://chrome.google.com/webstore/detail/tissues/amppomcpploimdoanchlddlimnaiecji" %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <%= yield %>

      <footer>
      </footer>
    </div>
  </body>
</html>
