<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head" %>
  </head>
  <body class="<%= 'js-write-access' if @team && team_member? %>">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="<%= navbar_link_class(:teams, :index) %>"><%= link_to "Teams", teams_path %></li>
          <%= yield :header_nav %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid primary-content">
      <%= yield %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <%= yield :footer_nav %>
      </div>
    </nav>
  </body>
</html>
