<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head" %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="<%= navbar_link_class(:teams) %>"><%= link_to "Teams", teams_path %></li>
          <li class="<%= navbar_link_class(:buckets) %>"><%= link_to "Buckets", buckets_path %></li>
          <li class="<%= navbar_link_class(:issues) %>"><%= link_to "Issues", issues_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <%= yield %>

      <footer>
      </footer>
    </div>
  </body>
</html>
