<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head" %>
  </head>
  <body class="<%= 'js-write-access write-access' if @team && @team.member?(current_user) %>">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="main <%= navbar_link_class(:teams, :index) %>"><%= teams_link(@team) %></li>
          <%= yield :header_nav %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Chrome Extension", "https://chrome.google.com/webstore/detail/tissues/amppomcpploimdoanchlddlimnaiecji" %>
          </li>
          <li>
            <%= link_to logout_path do %>
              <span class="octicon octicon-sign-out"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid primary-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <%= yield :footer_nav %>
      </div>
    </nav>

    <%= render :partial => "shared/footer" %>
  </body>
</html>
